// Notify
.notifications {
    width: 30% !important;
    @media (max-width: map-get($grid-breakpoints, "md")) {
        width: 100% !important;
    }
    .vue-notification {
        padding: 15px;
        font-size: 14px;
        text-align: right;
        border: none !important;
        @include box-shadow-mix($box-shadow-sm);

        @media (max-width: map-get($grid-breakpoints, "md")) {
            text-align: center;
        }

        &.warn {
            background: #ffb648;
        }

        &.danger {
            background: #E54D42;
        }

        &.success {
            background: #3fcd6a;
        }

        .notification-title {
            font-size: 17px !important;
        }
    }
}
