
@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

@-webkit-keyframes slideInUp {
    from {
        visibility: visible;
        @include opacity(0);
        @include transform(translate3d(0, 100%, 0));
    }

    to {
        @include opacity(1);
        @include transform(translate3d(0, 0, 0));
    }
}

@keyframes slideInUp {
    from {
        visibility: visible;
        @include opacity(0);
        @include transform(translate3d(0, 100%, 0));
    }

    to {
        @include opacity(1);
        @include transform(translate3d(0, 0, 0));
    }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}
