$calendar-width: 300px;
$calendar-zIndex: 2;

.app-calendar-row {
    position: relative;

    .app-calendar-input {
        &, &[readonly] {
            cursor: pointer;
            font-size: $font-size-base;
            font-family: $font-name-regular;
            border: 1px solid $input-border-color;
            @include user-select(none)
        }
    }

    .float-right {
        .app-calendar {
            #{$right}: auto;
            #{$left}: 0;
        }
    }
}

.app-calendar {
    top: calc(#{$input-height-inner} + #{$input-padding-x} + #{$grid-gutter-width});
    #{$right}: 0;
    height: auto;
    padding: 5px;
    font-size: 13px;
    position: absolute;
    width: $calendar-width;
    z-index: $calendar-zIndex;
    @include animation(fadeIn .2s cubic-bezier(0.4, 0, 0.2, 1) 0.1s backwards);

    @media (max-width: map-get($grid-breakpoints, 'sm')) {
        width: 100%;
        max-width: $calendar-width;
    }

    [type=text].form-control {
        font-family: $font-name-regular;
    }

    .app-calendar-header {
        .btn-icon {
            width: 30px;
            color: white;
            border: none;
            margin: 0 1px;
            padding: 3px 0 3px;
            background-color: #333;
            @include border-radius(0);

            &:hover {
                @include opacity(0.95)
            }
        }
        .app-calendar-header-month, .app-calendar-header-choose {
            color: white;
            line-height: 1;
            font-size: 15px;
            padding: 4px 6px 6px;
        }
        .app-calendar-header-month {
            margin: 0 1px;
            width: calc(50% - 32px - 2px);

            &:hover {
                @include opacity(0.9)
            }
        }
        .app-calendar-header-choose {
            width: 100%;
            margin-bottom: 10px;
            background-color: #333;
        }
    }
    .app-calendar-container {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .app-calendar-show-more, .app-calendar-show-less {
        background-color: #eee;
        border: 1px solid #ddd;
        width: calc(100% + 1px);
        padding: 0;
        color: #555;
        @include border-radius(0);
    }
    .app-calendar-show-more {
        margin: 4px -1px 0 0;
    }
    .app-calendar-show-less {
        margin: -4px -1px 4px 0;
    }
    ul {
        margin: 0;
        li {
            height: 30px;
            float: $right;
            padding: 5px 0;
            text-align: center;
            border: 1px solid #eee;
            margin: -1px -1px 0 0;
            @include user-select(none)
        }
        &.show-days {
            width: 77%;
            float: $right;
            li {
                cursor: pointer;
                width: calc(16.6666% + 1px);
                @include transition(all 0.4s ease);

                &.day-isHoliday {
                    color: $danger;
                }
                &.day-isGrey {
                    &, &.day-isHoliday {
                        color: #999;
                        background-color: #eee;
                        @include opacity(.6)
                    }
                }
                &.day-isToday {
                    color: #333;
                    background-color: #fff2be;
                }
                &.day-isSelected {
                    font-size: 15px;
                    line-height: 1.1;
                    color: #fff !important;
                    background-color: $primary;
                }
                &:nth-child(6) {
                    @include border-radius($border-radius 0 0 0)
                }
                &:nth-child(42) {
                    color: $danger;
                    @include border-radius(0 0 0 $border-radius)
                }
            }
        }
        &.show-weekdays {
            width: 23%;

            li {
                width: 100%;
                border-#{$left}: none;

                &:nth-child(1) {
                    @include border-radius(0 $border-radius 0 0)
                }

                &:nth-child(7) {
                    color: $danger;
                    @include border-radius(0 0 $border-radius 0)
                }
            }
        }
        &.show-months {
            width: 100%;

            li {
                width: calc(33.33333% + 1px);
                cursor: pointer;

                &.month-isSelected {
                    color: #fff;
                    padding: 2px;
                    font-size: 15px;
                    background-color: $primary;
                }
            }
        }
        &.show-year {
            width: 100%;
            float: $right;
            li {
                width: calc(33.33333% + 1px);
                cursor: pointer;

                &.year-isSelected {
                    color: #fff;
                    font-size: 15px;
                    padding: 2px;
                    background-color: $primary;
                }
            }
        }
    }
    .app-calendar-time {
        margin-bottom: 5px;
        position: relative;

        [type=text].form-control {
            height: 35px;
        }

        span {
            top: 7px;
            #{$left}: 0;
            font-weight: bold;
            position: absolute;
        }
    }
    .app-calendar-footer {
        .btn-link {
            margin: 0 4.5px;
            width: calc(33.3333% - 3px);
            &:first-child, &:last-child {
                margin: 0;
            }
        }
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
