.errorPage {
    .errorCode {
        font-size: 100px;
        font-family: $font-name-regular, $font-name-roboto, 'Tahoma';
    }
    p {
        font-family: $font-name-regular, $font-name-roboto, 'Tahoma';
    }
}
