//###### bold font elements ######//
strong,
b {
    font-family: $font-name-bold, $font-name-regular, 'B Yekan', 'Tahoma';
    font-weight: 100;
}

@for $ii from 1 through 6 {
    .h#{$ii},
    h#{$ii} {
        font-weight: 100;
    }
}

.latin {
    font-family: 'Roboto', $font-name-regular, 'Tahoma' !important;
}

.latin-fa {
    font-family: $font-name-regular-en, 'Tahoma' !important;
}

//###### Font Importing ######//
@mixin font-face-creator($fontName-app, $path, $fontName-path, $weight) {
    @font-face {
        font-style: normal;
        font-weight: $weight;
        font-display: fallback;
        font-family: $fontName-app;
        src: url('#{$path}/#{$fontName-path}.eot');
        src: url('#{$path}/#{$fontName-path}.eot?#iefix') format('embedded-opentype'),
        url('#{$path}/#{$fontName-path}.woff2') format('woff2'),
        url('#{$path}/#{$fontName-path}.woff') format('woff'),
        url('#{$path}/#{$fontName-path}.ttf') format('truetype'),
        url('#{$path}/#{$fontName-path}.svg##{$fontName-path}') format('svg');
    }
}

@include font-face-creator($font-name-regular, $path, 'iranyekanwebregular(fanum)', 'normal');
@include font-face-creator($font-name-regular-en, $path, 'iranyekanwebregular', 'normal');
@include font-face-creator($font-name-bold, $path, 'iranyekanwebbold(fanum)', 'bold');
