$path:                  '/assets/fonts';
$fa-font-path:          $path;

$font-name-bold:        iranYekanBold;
$font-name-roboto:      roboto;
$font-name-regular:     iranYekan;
$font-name-regular-en:  iranYekanEn;

$navigationHeader:      73px;
$modalRadius:           10px;
